################################################################################
# Train GNCN-t1-SC (sparse coding), ISTA variant, on natural images
################################################################################

out_dir = sc_ista/
train_xfname = ../data/natural_scenes/dataX.npy
dev_xfname = ../data/natural_scenes/dataX.npy

# ------------------------------------------------------
# Overall training meta-parameters
num_iter = 100 #400
opt_type = sgd
eta = 1e-2
dev_batch_size = 10

# ------------------------------------------------------
# Model meta-parameters

# latent threshold type
threshold = soft_threshold
thr_lambda = 5e-3

# general structural properties of the SC model
seed = 69
act_fx = identity
out_fx = identity
z_dim = 100 #192

# latent state dynamics
beta = 0.05 #1e-2 # controls latent state update
K = 300 #1000 # controls number of steps in a iterative settling episode
leak = 0 # controls leak variable
