numpy>=2.5.2
scikit-learn>=1.9.0
scipy>=1.18.1
matplotlib>=3.11.1
jax>=0.11.1
jaxlib>=0.11.1
ngcsimlib>=3.1.1
imageio>=2.37.4
pandas>=3.0.5
typing_extensions>=4.15.0
sphinx
myst_parser
sphinx_rtd_theme
